@font-face {
	font-family: 'Raleway';
	src: url('R/Raleway.ttf') format('truetype')
}

/*@media screen and (max-width: 1590px) {
    body{
        margin: 2vh 5vw;
    }
}*/

html{
    --vert: #006D3E;
}

body{
    margin: 10vh 15vw;
}

h1, h2, h3, p, figcaption, summary, a{
    font-family: "Raleway", "Calibri";
    font-weight: 400;
}

h1, h2, h3, p, summary{
    margin: 15px 0 ;
}

h1, h2, h3, summary{
    color: var(--vert);
}

h1{
    font-weight: 800;
    font-size: 2em;
}

h1 + p{
    font-style: italic;
    font-size: 1.1em;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
}

h2{
    font-weight: 700;
    font-size: 1.7em;
}

h3{
    font-weight: 500;
    font-size: 1.3em;
}

div.image{
    display: flex;
    flex-flow: row wrap;
}

figure{
    padding: 20px;
}

figure figcaption{
    text-align: center;
    font-style: italic;
}

figure img{
    max-width: 200px;
}

div.image#equipe{
    flex-direction: row-reverse;
}

section#dossier-textes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section article{
    width: 47%;
    width: fit-content;
}

section article iframe{
    min-width: 400px;
    width: 100%;
    overflow-x: clip;
}

section article#pdf iframe{
    aspect-ratio: 21/29.5;
}

section article#don iframe{
    height: 1000px;
}

section article a{
    margin: 5px 0px;
}