@font-face {
	font-family: 'Raleway';
	src: url('R/Raleway.ttf') format('truetype')
}

@font-face {
    font-family: 'compa';
    src: url('../contact/R/compagnons-webfont.ttf');
}

html{
    --vert: #006D3E;
}

body{
    margin: 10vh 15vw;
}

h1, h2, h3, p, figcaption, summary, a, li{
    font-family: "Raleway", "Calibri";
    font-weight: 400;
}

h1, h2, h3, p, summary{
    margin: 15px 0 ;
}

h1, h2, h3, summary{
    color: var(--vert);
}

h1{
    font-weight: 800;
    font-size: 2em;
}

h1 + p{
    font-style: italic;
    font-size: 1.1em;
}

header a::after{
    content: none;
}

header *{
    text-align: center;
}

header{
    margin-bottom: 50px;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
}

h2{
    font-weight: 700;
    font-size: 1.7em;
}

h3{
    font-weight: 500;
    font-size: 1.3em;
}

figure{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure figcaption{
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

figure img{
    max-width: 200px;
}

div.image#equipe{
    flex-direction: row-reverse;
}

section, article#don{
    margin: 30px 0;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6%;
    flex-wrap: wrap-reverse;
}

section article{
    width: 47%;
    /*min-width: 250px;*/
}

article#pdf iframe{
    width: 100%;
    aspect-ratio: 21/29.5;
}

article#don iframe{
    width: 100%;
    height: 700px;
}

ul{
    list-style: "\01F49A";
    padding: 20px;
}

li{
    line-height: 110%;
}

div#defiscalisation{
    width: 70%;
}

p.entantque{
    text-decoration: underline;
}

p.defisc{
    padding-left: 20px;
}

a[target="_blank"]::after{
    content: url(R/external.svg);
    /*width: 10px;
    position: relative;
    left: 5px;*/
}

div.liens{
    display: flex;
    justify-content: center;
    align-items: center;
}

a#subvention, a#cagnotte{
    display: block;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--vert);
    color: #FFFFFF;
    width: fit-content;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 2px 2px 2px #494949;
    transition: all 0.5s ease;
}

a#subvention:hover, a#cagnotte:hover{
    box-shadow: none;
    position: relative;
    bottom: -2px;
    right: -2px;
}



a#subvention::after, a#cagnotte::after{
    content: none;
}

a#subvention img, a#cagnotte img{
    height: 15px;
    margin-right: 10px;
}

section#merci{
    display: block;
    margin-top: 80px;
}

section#merci p{
    text-align: center;
}


section#merci p:nth-child(1){
    font-size: 3em;
    font-family: 'compa', 'Raleway', calibri;
    color: var(--vert);
    text-align: center;
}

section#merci p{
    margin: 5px;
}


@media screen and (max-width: 860px) {
    body{
        margin: 5vh 8vw;
    }
    section{
        flex-direction: column;
        gap: 50px;
    }
    section article{
        width: 100%;
    }
    div#defiscalisation{
        width: 100%;
    }
}